.about {}

.about-row {
    max-width: 768px;
    display: flex;
    margin: 100px auto;
    justify-content: space-between;
}

.about-title {
    font-size: 32px;
    line-height: 38px;
}

.about-content {
    max-width: 493px;
}

.about-text {
    line-height: 24px;
}


.about-author {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 18px;
}


.about-author__name {
    margin: 0;
    color: #1B1A1A;
    line-height: 26px;
    font-size: 17px;
}

.about-author__position {
    margin: 0;
    color: #645C55;
    font-size: 14px;
    line-height: 14px;
}