.about-row {
    max-width: 768px;
    display: flex;
    margin: 100px auto;
    justify-content: space-between;
}

.about-title {
    font-size: 32px;
    line-height: 38px;
}

.about-content {
    max-width: 493px;
}

.about-text {
    line-height: 24px;
}


.about-author {
    margin-top: 18px;
}
