.button {
    display: inline-block;

	/* height: 51px;
	line-height: 51px; */

	min-height: 46px;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1;

	padding: 0 20px;
	background-color: #1B1A1A;
	color: #fff !important;
	font-size: 16px;
	border-radius: 10px;
	transition: opacity 0.2s ease;
}

.button:hover {
    opacity: 0.8;
	color: #fff;
}

@media (max-width: 500px) {
	.button {
		padding: 0 15px;
		font-size: 14px;

	}
}

