.get-in-touch {
    background-color: #CEC4BC;
    padding: 100px 0;
}

.get-in-touch-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.get-in-touch-content {
    max-width: 569px;
}
.get-in-touch-subtitle {
    font-size: 40px;
    line-height: 42px;
    color: #1B1A1A;
}
.get-in-touch-link {
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
}