.get-in-touch {
    background-color: #CEC4BC;
    padding: 100px 0;
}

.get-in-touch-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.get-in-touch-content {
    max-width: 569px;
}
.get-in-touch-subtitle {
    font-size: 40px;
    line-height: 42px;
    color: #1B1A1A;
}
.get-in-touch-link {
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
}

@media (max-width: 1300px) {
	.get-in-touch {
        padding: 100px 30px;
    }
}

@media (max-width: 1000px) {
	.get-in-touch-subtitle {
        font-size: 34px;
        line-height: 38px;
    }
}


@media (max-width: 770px) {
	.get-in-touch-row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px
    }
}

@media (max-width: 535px) {
	.get-in-touch-subtitle {
        font-size: 28px;
        line-height: 32px;
    }

    .get-in-touch {
        padding: 70px 10px;
    }
}