.hero {
    background-color: #ECE7E4;
}
.hero-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
    
}
.hero-content {
    max-width: 600px;
    padding: 60px 40px;
    margin: 0 auto;
}

.hero-subtitle {
    font-size: 64px;
    max-width: 417px;
    color: #1B1A1A;
    line-height: 70px;
}
.hero-text {    
    max-width: 509px;
}

.hero-read-more-link {
    letter-spacing: 0.4px;
    color: #1B1A1A;
    padding: 11px 20px;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.hero-content > * {
    margin-bottom: 20px;
}

@media (max-width: 880px) {
    .hero-subtitle {
        font-size: 52px;
        line-height: 60px;
    }
    
}

@media (max-width: 770px) {
    .hero-row {
        grid-template-columns: 1fr;
        justify-content: center;
    }

}
@media (max-width: 500px) {
	.hero-subtitle {
        font-size: 45px;
        line-height: 50px;
    }

}

@media (max-width: 380px) {
	.hero-content {
        padding: 15px 10px;
        margin: 0;
        
    }
    .hero-subtitle {
        font-size: 30px;
        line-height: 40px;
    }
    .hero-content > * {
        margin-bottom: 10px;
    }
    .hero-text {    
        text-align: justify;
    }
}  