.marble-staircase-text {
    color: #645C55;
}

.marble-staircase {
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: url("./../../img/marble_staircase.jpg") center/cover no-repeat;
}
  
.marble-staircase-content {
    max-width: 300px;
    margin-right: 60px;
    padding: 20px;
}

@media (max-width: 730px) {
	.marble-staircase-content {
        background-color: #EEF0EF;
        border-radius: 15px;
    }
}

@media (max-width: 410px) {
	.marble-staircase {
        justify-content: center; 
        padding: 0 10px;
    }

    .marble-staircase-content {
        margin-right: 0px;
    }
}