.reeding-house-text {
    line-height: 24px;
    color: #645C55;
}

.reeding-house {
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    background: url("./../../img/reeding_house.jpg") center/cover no-repeat;
}
  
.reeding-house-content {
    max-width: 300px;
    margin-right: 60px;
    padding: 20px;
}