.swirling-staircase-text {
    color: #645C55;
}

.swirling-staircase {
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    background: url("./../../img/swirling_staircase.jpg") center/cover no-repeat;
}
  
.swirling-staircase-content {
    max-width: 300px;
    margin-left: 60px;
    padding: 20px;
}

@media (max-width: 930px) {
	.swirling-staircase-content {
        background-color: #CCC2B9;
        border-radius: 15px;
    }
}

@media (max-width: 410px) {
	.swirling-staircase {
        justify-content: center; 
        padding: 0 10px;
    }

    .swirling-staircase-content {
        margin-left: 0px;
    }
}