body {
	font-family: 'Poppins', serif;
	font-size: 16px;
	line-height: 24px;
	color: #403E3B;
	background-color: #FFFFFF;
	max-width: 100%;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}

.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	width: 0px;
	height: 0px;
	display: block;
	margin-left: -10000px;
	background: transparent;
	font-size: 0;
}


@font-face {
    font-family: 'Poppins';
    src: 
        url('fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 500px) {
	body {
		font-size: 14px;
	}
}

@media (max-width: 380px) {
	body {
		line-height: 20px;
	}
}